{% extends 'base.html' %}
{% load static %}

{% block head %}
<!-- stylesheet -->
{% endblock%}

{% block content %}

  <h1>Workout Detail</h1>
  <h1>{{workout.title}}</h1>
  <p>{{workout.date}}</p>
  <p>{{workout.duration}}</p>
  <p>{{workout.description}}</p>

  <a href="{% url 'workout-update' workout.id %}"><button>Update</button></a>
  <a href="{% url 'workout-delete' workout.id %}"><button>Delete</button></a>
  
  

  <h1>Set Detail</h1>
  <h1></h1>

  {% for set in workout.set_set.all %}
  <h1>{{ set.movement }}</h1>
  <p>{{ set.rep }}</p>
  <p>{{ set.equipment }}</p>
  <form method="POST" action="{% url 'set-delete' workout.id set.id %}">
    {% csrf_token %}
    <button type="submit">Delete</button>
</form>

{% endfor %}

<h1>Add a Set to your Workout</h1>
<form action="{% url 'add-set' workout.id %}" method="post" autocomplete="off">
  <table>
  {% csrf_token %}
  {{ set_form.as_table}}
</table>
  <button type="submit">Add a Set</button>
</form>

<a href="{% url 'workout-index' %}"><button>Back to your profile</button></a>

{% endblock%}