{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css"href="{% static 'css/workouts/workout-detail.css' %}"/>
{% endblock%}

{% block content %}

  <div class="header">
    <h1>{{workout.workout_type}}</h1>
  </div>
  </div> 
  <div class="wrkt">
    <div class="wrkt-detials">
      <div class="date">
        <h1>Date: </h1>
        <p>{{workout.date}}</p>
      </div>
      <div class="duration">
        <h1>Duration: </h1>
        <p>{{workout.duration}}</p>
      </div>
    </div>
    <div class="description">
      <p>{{workout.description}}</p>
    </div>
  </div>
  <a href="{% url 'workout-update' workout.id %}"><button>Update</button></a>
  <a href="{% url 'workout-delete' workout.id %}"><button>Delete</button></a>
    <div class="if-set">
      {% if workout.set_set.all %}
      <h1 class="">Sets</h1>
      {% else %}
      <h1>Add a set to your workout?</h1>
      {% endif%}
    </div>
    <div class="set-container">

      {% for set in workout.set_set.all %}
      <div class="set-card">
        <div class="movement">
          <h1>{{ set.movement }}</h1>
        </div>
        <div class="reps">
          <h1>No. Reps:</h1>
          <p>{{ set.rep }}</p>
        </div>
        <div class="weight">
          <h1>Weight:</h1>
          <p>{{ set.weight }}</p>
        </div>
        <div class="equip">
          <h1>Equipment Used:</h1>
          <p>{{ set.equipment }}</p>
        </div>
        <div class="delete">
          <form method="POST" action="{% url 'set-delete' workout.id set.id %}">
            {% csrf_token %}
            <button type="submit">Delete</button>
          </form>
        </div>
      </div>
      {% endfor %}

    </div>

<h1>Add a Set to your Workout</h1>
<form action="{% url 'add-set' workout.id %}" method="post" autocomplete="off">
  <table>
  {% csrf_token %}
  {{ set_form.as_table}}
</table>
  <button type="submit">Add a Set</button>
</form>

<a href="{% url 'workout-index' %}"><button>Back to your profile</button></a>

{% endblock%}