{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css"href="{% static 'css/workouts/index.css' %}"/>
{% endblock%}

{% block content %}

<section class="index-header">
  <h1 id="workouts">WORK<br>OUTS</h1>
  <h1 id="username">by <br>{{user.username|title}}</h1>
  <img src="{% static "images/dots.svg" %}"" alt="three colorful dots">
</section>
<section>

</section>


  <h1>Welcome back, {{user.username|title}}</h1>

  {% if request.has_worked_out_today %}
    <h1>Congrats on logging a workout today!</h1>
  {% else %}
    <h1>Looks like you haven't logged a workout yet today</h1>
  {% endif %}


  {% for workout in workouts %}
    <div>
      <a href="{% url 'workout-detail' workout.id %}">
        <h1>{{workout.title}}</h1>
        <p>{{workout.date}}</p>
        <p>{{workout.duration}}</p>
      </a>
    </div>
  {% endfor %}



{% endblock%}