{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css"href="{% static 'css/about.css' %}"/>
{% endblock%}

{% block content %}

<section class="left">
  <img src="{% static "images/WellFit-logo.svg" %}" alt="WellFit Logo">
  <!-- links here -->
</section>
<section class="right">
  <hr>
  <h1>WHY WELLFIT</h1>
  <p>Ut assumenda sequi non dolor nobis quo consectetur sint At esse voluptates. Non repellat quisquam aut voluptas fugiat quo ipsum asperiores quo repellat soluta et reprehenderit delectus vel veniam reprehenderit et natus nihil. A esse doloremque non ullam dolor qui facere unde.</p>
  <p>Ut assumenda sequi non dolor nobis quo consectetur sint At esse voluptates. Non repellat quisquam aut voluptas fugiat quo ipsum asperiores quo repellat soluta et reprehenderit delectus vel veniam reprehenderit et natus nihil. A esse doloremque non ullam dolor qui facere unde.</p>
</section>

{% endblock%}