{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css"href="{% static 'css/about.css' %}"/>
{% endblock%}

{% block content %}

<section class="left">
  <img src="{% static "images/WellFit-logo.svg" %}" alt="WellFit Logo">
  <!-- links here -->
</section>
<section class="right">
  <hr>
  <h1>Why WellFit?</h1>
  <p>WellFit is not just another fitness app; it's a transformative experience that empowers you to take control of your health and well-being. In a world filled with distractions and hectic schedules, we understand the challenges of maintaining a consistent fitness routine. That's why WellFit is here to make your fitness journey more accessible, enjoyable, and effective than ever before.</p>
  <p>At WellFit, we believe in the power of progress. We're here to help you set and achieve your fitness goals, no matter how big or small. Whether you're looking to build strength, improve endurance, lose weight, or simply lead a healthier lifestyle, WellFit provides you with a tool to support your success.</p>
</section>

{% endblock%}