{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css"href="{% static 'css/home.css' %}"/>
{% endblock%}

{% block content %}

  <section class="banner">
    <div class="banner-text">
      <img src="{% static "images/WellFit-logo.svg" %}" alt="WellFit Logo">
      <h1 class="title">Get ready </br>for change </br>to happen</h1>
      {% if user.is_authenticated %}
      <a href="{% url 'workout-create' %}"><button>Log a Workout</button></a>
      {% else %}
      <a href="/"><button>Sign In</button></a>
      {% endif %}
    </div>
    <div class="banner-image">
      <div></div>
    </div>
  </section>
  <section class="benefits">
    <h1 class="home-scroll-img" id="no-border">Why should </br>you use </br>WellFit?</h1>
    <div class="home-scroll-img"  id="img1">
      <div class="img-txt">
        <h1>Did you know...</h1>
        <p>You're more likely to reach goals if you record them</p>
      </div>
    </div>
    <div class="home-scroll-img" id="img2">
      <div class="img-txt">
      <h1>Track Progress</h1>
      <p>Easily see how far you have come</p>
    </div>
    </div>
    <div class="home-scroll-img" id="img3">
      <div class="img-txt">
      <h1>Customize Workouts</h1>
      <p>Never forget a workout, and customize them moving forward</p>
    </div>
    </div>
    <div class="home-scroll-img" id="img4">
      <div class="img-txt">
      <h1>Stay Accountable</h1>
      <p>Holding yourself accountable keeps you moving forward</p>
    </div>
    </div>
    <div class="home-scroll-img" id="img5">
      <div class="img-txt">
      <h1>Have Fun</h1>
      <p>Remeber all the fun workouts you've done</p>
    </div>
    </div>
  </section>
  <section class="orange-banner">
    <div><p>WellFit is your fitness companion, simplifying your wellness journey. Our platform offers a place for you to monitor your progress. Whether you're building strength, boosting endurance, or leading a healthier lifestyle, WellFit has you covered. Join our community, find motivation, and transform your life, one workout at a time.</p></div>
    <div><h1>Unlock your potential, </br>One day at a time.</h1></div>
    
    
  </section>
  <section class="cta">
    <div class="cta-img">
      <div class="cta-img-div"></div>
    </div>
    <div class="cta-txt">
      <h1>Keeping track of your workouts digitally has never been better</h1>
      <p>Ut assumenda sequi non dolor nobis quo consectetur sint At esse voluptates. Non repellat quisquam aut voluptas fugiat quo ipsum asperiores quo repellat soluta et reprehenderit delectus vel veniam reprehenderit et natus nihil. A esse doloremque non ullam dolor qui facere unde.</p>
    </div>
  </section>
  </section>


{% endblock%}
