{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css"href="{% static 'css/home.css' %}"/>
{% endblock%}

{% block content %}

  <section class="banner">
    <div class="banner-text">
      <img src="{% static "images/WellFit-logo.svg" %}" alt="WellFit Logo">
      <h1 class="title">Get ready </br>for change </br>to happen</h1>
      {% if user.is_authenticated %}
      <a href=""><button>Log a Workout</button></a>
      {% else %}
      <a href=""><button>Sign In</button></a>
      {% endif %}
    </div>
    <div class="banner-image">
      <img src="{% static "images/banner-img.svg" %}" alt="woman with yoga mat">
    </div>
  </section>
  <section class="benefits">
    <div class="home-scroll-img" id="first-img"></div>
    <div class="home-scroll-img" ></div>
    <div class="home-scroll-img"></div>
    <div class="home-scroll-img"></div>
    <div class="home-scroll-img"></div>
  </section>
  <section>
    <h1></h1>
  </section>
  <section class="orange-banner">
    <h1>We're here to help you become more fit and strong</h1>
    <p>Ut assumenda sequi non dolor nobis quo consectetur sint At esse voluptates. Non repellat quisquam aut voluptas fugiat quo ipsum asperiores quo repellat soluta et reprehenderit delectus vel veniam reprehenderit et natus nihil. A esse doloremque non ullam dolor qui facere unde.</p>
  </section>
  <section class="cta">
    <div class="cta-txt">
      <h1>We're here to help you become more fit and strong</h1>
      <p>Ut assumenda sequi non dolor nobis quo consectetur sint At esse voluptates. Non repellat quisquam aut voluptas fugiat quo ipsum asperiores quo repellat soluta et reprehenderit delectus vel veniam reprehenderit et natus nihil. A esse doloremque non ullam dolor qui facere unde.</p>
    </div>
    <div class="cta-img">
      <p>IMG</p>
    </div>
  </section>
  </section>


{% endblock%}
