main {
  padding-top: 0;
}

.banner{
  width: 100%;
  height: 712px;
  background-image: url('../images/home-banner.svg');
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.banner-text{
  padding-top: 80px;
  width: 50%;
}

.banner-image{
  width: 50%;
  padding-top: 80px;
}

.benefits {
  height: 460px;
  width: 100%; 
  white-space: nowrap; 
  overflow-x: auto; 
}

.home-scroll-img {
  display: inline-block; 
  margin-right: 36px; 
  height: 337px;
  width: 337px;
  border-radius: 4px 36px 4px 36px;
  background-color: var(--blue);
  margin: 75px 27px 46px 27px;
}

#first-img {
  margin-left: 75px;
}

.orange-banner {
  height: 210px;
  width: 100%;
  background-color: var(--orange);
  display: flex;
  flex-direction: row;
}

.orange-banner > * {
  width: 50%;
}

.cta{
  width: 100%;
  height: 715px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.cta-txt {
  width: 50%;
}

.cta-img {
  width: 50%;
  background-color: var(--pink);
}