main {
  padding-top: 0;
}

/* section 1 */
.banner{
  width: 100%;
  max-height: 712px;
  background-image: url('../images/home-banner.svg');
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.banner-text {
  padding-top: 80px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner-text img {
  flex: 1; 
  height: auto; 
  max-height: 25%; 
  max-width: 100%; 
}

.banner-text h1 {
  flex: 1.2; 
  font-size: 80px;
  margin: 0 auto;
  color: var(--background);
}

.banner-text a {
  flex: 1; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-image div {
  height: 536px;
  width: 536px;
  padding-top: 80px;
  margin-top: 60px;
  margin-right: 40px;
  border-radius: 8px 48px 8px 8px; 
  background-image: url('../images/banner-img.svg');
  background-size: cover;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

/* section 2 */
.benefits {
  height: 300px;
  width: 100%; 
  white-space: nowrap; 
  overflow-x: auto;
  overflow-y: hidden;
}

.home-scroll-img {
  display: inline-block; 
  margin-right: 36px; 
  height: 240px;
  width: 240px;
  border-radius: 4px 36px 4px 36px;
  margin: 35px;
  vertical-align: top;
  white-space: normal;
  border: 2px solid var(--grey);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.home-scroll-img:nth-child(1) {
  box-shadow: none;
}

.home-scroll-img h1 {
  color: var(--grey);
  margin: 0;
}

.img-txt {
  height: 220px;
  width: 200px;
  white-space: normal;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  margin-left: 8px;
}

.img-txt h1,
.img-txt p {
  margin: 0;
  padding: 0;
}

.img-txt h1 {
  font-size: 20px;
}

#no-border {
  border: none;
  font-size: 40px;
  align-self: center;
  margin-top: 68px;
}

#img1 {
  background-image: url('../images/1.svg');
}

#img2 {
  background-image: url('../images/2.svg');
}

#img3 {
  background-image: url('../images/3.svg');
}

#img4 {
  background-image: url('../images/4.svg');
}

#img5 {
  background-image: url('../images/5.svg');
}


/* section 3 */
.orange-banner {
  height: 200px;
  width: 100%;
  background-color: var(--background);
  display: flex;
  flex-direction: row;
  background-image: linear-gradient(to left top, #6a8af8, #b17be6, #dd6cc7, #f765a2, #ff697c, #ff6e75, #ff736e, #ff7968, #ff787d, #ff7891, #ff7ca6, #ff81ba);
  /* border-top: 24px solid var(--blue); */
  /* border-bottom: 24px solid var(--blue); */
}

.orange-banner > div:nth-child(1) {
  width: 60%;
  margin: 80px;
  align-self: center;
  
}

.orange-banner > div:nth-child(2) {
  width: 40%;
  align-self: center;
  padding-right: 48px;
  
}


.orange-banner h1 {
  font-size: 35px;
  color: var(--grey);
  margin-left: 40px;
  align-self: center;
  margin-left: 0;
}

.orange-banner p {
  font-size: 18px;
  align-self: center;
}

/* section 4 */
.cta{
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.cta-img {
  width: 50%;
  background-color: var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
}

.cta-img-div {
  height: 400px;
  width: 400px;
  border-radius: 8px 48px 8px 8px; 
  background-image: url('../images/6.svg');
  background-size: cover;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.cta-txt {
  width: 50%;
  margin: 48px;
  margin-left: 80px;
}

.cta-txt h1 {
  font-size: 40px;
  margin-top: 0;
}

.cta-txt p {
  margin-bottom: 48px;
}

@media (max-width: 965px) {
  main {
    margin-top: -60px;
  }
  
  .banner {
    flex-direction: column;
    align-items: center;
    margin: 0;
    text-align: center;
    padding-top: 48px;
  }
  
  .banner-text img {
    width: 100px;
    height: 55px;
    margin-top: 0; 
  }
  
  .banner-text h1 {
    text-align: center;
    max-width: fit-content;
    font-size: 50px;
    margin-bottom: 40px;
  }

  .banner-text a {
    display: none;
  }
  
  .banner-text h1 br {
    display: none;
  }

  .banner-image div {
    display: none;
  }

#banner-btn {
  background: var(--background);
  border-radius: 999px;
  box-sizing: border-box;
  color: var(--blue);
  cursor: pointer;
  font-family: 'DM Sans', sans-serif;
  font-weight: 800;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
  transition: box-shadow .2s;
}


  .orange-banner {
    flex-direction: column;
    align-items: center;
    margin: 0;
    text-align: center;
    height: fit-content;
  }

  .orange-banner > div:nth-child(1){
    margin: 24px auto;
  }

  .orange-banner > div:nth-child(2) {
    /* border-top: 3px solid var(--background); */
    border-left: none;
    padding: 0;
    
  }

  .orange-banner h1 {
    margin: 0px auto 48px;
    padding: 0;
  }

  .orange-banner h1 br {
    display: none;
  }

  .cta{
    flex-direction: column;
    align-items: center;
    margin: 0;
    text-align: center;
    /* padding-top: 48px; */
    height: fit-content;
  }

  .cta-img {
    display: none;
  }

  .cta-txt {
    margin: 48px auto;
  }
}