main {
  padding-top: 45px;
}

.index-header{
  height: 300px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.index-header h1 {
  flex: 2;
  text-align: left;
  margin: 0;
  line-height: 0.85;
}

.index-header img {
  height: 34px;
  width: 100px;
  float: right;
  transform: rotate(90deg);
  margin-right: 0;
}


#workouts {
  font-size: 100px;
  color: var(--blue);
  margin-left: 75px;
}

#username{
  font-size: 60px;
  color: var(--pink);
}

.profile-message {
  text-align: center;
}

.workout-section {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.workout-card {
  height: 375px;
  width: 375px;
  background-image: linear-gradient(to right bottom, #6a8af8, #b17be6, #dd6cc7, #f765a2, #ff697c, #ff6e75, #ff736e, #ff7968, #ff787d, #ff7891, #ff7ca6, #ff81ba);
  border-radius: 4px 36px 4px 36px;
}

@media (max-width: 768px) {
  .index-header{
    flex-direction: column;
    align-items: center;
    margin: 0;
    text-align: center;
    padding-top: 48px;
  }

  #workouts, #username {
    text-align: center;
    margin: 12px auto;
  }

  #workouts br,
  #username br {
    display: none;
  }

  .index-header img  {
    height: auto;
    max-width: 100%;
    float: none;
    transform: none;
    width: 100px;
  }
}