main {
  padding-top: 80px;
}

.index-header{
  height: 220px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.index-header h1 {
  text-align: left;
  margin: 0;
  line-height: 0.85;
}

.index-header img {
  height: 34px;
  width: 100px;
  transform: rotate(90deg);
}

#workouts {
  font-size: 120px;
  color: var(--blue);
}

#username{
  font-size: 80px;
  color: var(--pink);
}

.profile-message {
  text-align: center;
  margin-top: 0;
  margin-bottom: 60px;
  font-size: 24px;
}

.workout-section {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 24px 100px;
}

.workout-card {
  height: 280px;
  width: 280px;
  border-radius: 4px 36px 4px 36px;
  background-image: linear-gradient(to left top, #6a8af8, #b17be6, #dd6cc7, #f765a2, #ff697c, #ff6e75, #ff736e, #ff7968, #ff787d, #ff7891, #ff7ca6, #ff81ba);
  display: flex; 
  flex-direction: column; 
  justify-content: flex-end; 
  padding: 20px; 
  margin-bottom: 48px;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 48px;
  transition: all .2s ease-in-out;
}

.workout-card:hover {
  background-image: linear-gradient(to right bottom, #6a8af8, #b17be6, #dd6cc7, #f765a2, #ff697c, #ff6e75, #ff736e, #ff7968, #ff787d, #ff7891, #ff7ca6, #ff81ba);
  border-radius: 4px 36px 4px 36px;
  transform: scale(1.1);
}

.workout-card h1 {
  font-size: 40px;
  margin-bottom: 8px;
}

.workout-card p {
  font-size: 20px;
  margin: 0; 
}

@media (max-width: 750px) {
  .index-header{
    flex-direction: column;
    align-items: center;
    margin: 0;
    text-align: center;
  }

  #workouts, #username {
    text-align: center;
    margin: 12px auto;
  }
  
  #workouts {
    font-size: 75px;
  }

  #username {
    font-size: 45px;
  }

  #workouts br,
  #username br {
    display: none;
  }

  .index-header img  {
    height: auto;
    max-width: 100%;
    float: none;
    transform: none;
    width: 100px;
  }

  .profile-message h1 {
    font-size: 30px;
  }
}