main {
  padding-bottom: 24px;
}

h1 {
  color: var(--blue);
  font-size: 60px;
  text-align: center;
  margin-bottom: 20px;
}

hr {
  width: 80%;
  height: 3px;
  background-color: var(--grey);
}

table {
  margin: 0 auto;
  padding: 0 40px;
  width: 100%;
  border-spacing: 0 20px;
}

th {
  text-align: left;
  padding: 6px 20px 0 0;
  font-weight: normal;
  vertical-align: top;
  font-size: var(--font-reg);
}

td {
  max-width: 60%;
}

td > * {
  width: 100%;
  padding: 2px 4px;
  font-size: var(--font-l);
}

td > textarea {
  height: calc(4 * var(--font-l) + 8px);
  font-family: inherit;
}

.gradient-text {
  background: linear-gradient(45deg, #FF81BA, #F87F4C);
  background-clip: text;
  -webkit-background-clip: text; 
  color: transparent;
  /* -webkit-text-stroke: 2px white;
  text-stroke: 2px white; */
}

.header {
  background-image: linear-gradient(to right bottom, #6a8af8, #b17be6, #dd6cc7, #f765a2, #ff697c, #ff6e75, #ff736e, #ff7968, #ff787d, #ff7891, #ff7ca6, #ff81ba);
  display: flex;
  justify-content: center;
  padding-bottom: 60px;
}

.header h1 {
  padding-top: 80px;
  color: var(--background);
  font-size: 70px;
  width: fit-content;
  border-bottom: 3px solid var(--background);
}

.wrkt {
  display: flex;
  flex-direction: row;
}

.wrkt-detials {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 24px auto;
}

.date, .duration {
  display: flex;
  align-self: center;
}

.date p, 
.duration p {
  padding-top: 4px;
  margin-left: 20px;
  font-size: 32px;
}

.date h1, 
.duration h1{
  font-size: 40px;
}

.description {
  width: 50%;
  align-self: center;
  margin: 24px;
  padding-right: 48px;
}

.description p {
  font-size: 20px;
}

.set-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 24px 100px;
}

.btn-div {
  display: flex;
  justify-content: space-evenly;
  margin: 24px 0;
}

.if-no-sets {
  font-size: 36px;
  color: var(--grey);
  margin-top: 60px;
}

.set-card {
  height: 280px;
  width: 280px;
  border-radius: 4px 36px 4px 36px;
  background-image: linear-gradient(to left top, #6a8af8, #b17be6, #dd6cc7, #f765a2, #ff697c, #ff6e75, #ff736e, #ff7968, #ff787d, #ff7891, #ff7ca6, #ff81ba);
  display: flex; 
  flex-direction: column; 
  justify-content: flex-end; 
  padding: 20px; 
  margin-bottom: 48px;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 48px;
  transition: all .2s ease-in-out;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.set-card:hover {
  background-image: linear-gradient(to right bottom, #6a8af8, #b17be6, #dd6cc7, #f765a2, #ff697c, #ff6e75, #ff736e, #ff7968, #ff787d, #ff7891, #ff7ca6, #ff81ba);
  border-radius: 4px 36px 4px 36px;
  transform: scale(1.1);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.reps,
.equip,
.weight,
.delete {
  display: none;
}

.set-card:hover .reps,
.set-card:hover .equip,
.set-card:hover .weight,
.set-card:hover .delete {
  display: contents;
}

.set-card:hover .movement {
  display: none;
}

.movement h1 {
  color: var(--grey);
  font-size: 40px;
  text-align: left;
  line-height: 0.9;
  margin: 0 auto;
}

.reps h1,
.equip h1,
.weight h1 {
  color: var(--grey);
  font-size: 24px;
  text-align: left;
  line-height: 0.9;
  margin: 0;
  padding-bottom: 5px;
}

.reps p,
.equip p,
.weight p {
  font-size: 20px;
  margin: 0;
  padding-bottom: 10px; 
}

@media (max-width: 750px) {
  .wrkt {
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .date, .duration {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .date h1, 
  .date p, 
  .duration h1,
  .duration p {
    margin: 12px 0;
    padding: 0;
  }

  .description {
    margin: 0;
    padding: 0;
  }

}